:root {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;

	--text-primary: rgb(26, 26, 26);
	--text-secondary: antiquewhite;

	--bg-primary: antiquewhite;
	--bg-secondary: rgb(148, 103, 20);

	--footerHeight: 5rem;
	--btnHorizontalPadding: 7em;
	--btnVerticalPadding: 2em;
	--descriptionVerticalPadding: 9vh;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::selection {
	background-color: #0858a870;
}

body {
	background-color: antiquewhite;
	text-align: center;
	margin: 0;
	padding: 0;
}

* {
	color: var(--text-primary);
	box-sizing: border-box;
	outline: none;
}

#logo {
	height: 13rem;
	width: 13rem;
}

.typewriter h1 {
	display: inline-block;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	transition: border-color 1s;
	border-right: 0.15em solid orange; /* the typwriter cursor */
	white-space: nowrap; /* keeps the content on a single line */
	margin: 0 auto; /* gives that scrolling effect as the typing happens */
	letter-spacing: 0.35rem;
	animation: typing 2.5s steps(26, end), blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/* the typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: var(--text-primary);
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page-header,
.page-footer {
	flex-shrink: 0;
}

.page-body {
	flex-grow: 1;
}

#description {
	width: 100%;
	padding-bottom: var(--descriptionVerticalPadding);
	padding-top: var(--descriptionVerticalPadding);
	background-color: #6f8cac;
	display: flex;
	flex-wrap: wrap;
}

#description div {
	margin-right: 5vh;
	width: 500px;
	flex: 3;
}

button {
	color: var(--text-secondary);
	text-decoration: none;
	border: none;
	background-color: var(--bg-secondary);
	transition: background-color 0.5s;
	border-radius: 10px;
	cursor: pointer;
	padding-left: var(--btnHorizontalPadding);
	padding-right: var(--btnHorizontalPadding);
	padding-top: var(--btnVerticalPadding);
	padding-bottom: var(--btnVerticalPadding);
	margin: 10px;
	margin-top: 10px;
}

button:active {
	background-color: rgb(219, 156, 39);
}

.navbar {
	position: fixed;
	width: 100vw;
	margin: 0;
	padding: 1vh;
	background-color: var(--bg-secondary);
}

.navbar-nav {
	list-style: none;
	display: flex;
	align-items: center;
}

a {
	transition: text-decoration-color 200ms ease-in-out;
	text-decoration: underline;
	text-decoration-color: transparent;
}

a:hover {
	text-decoration-color: var(--text-primary);
}

.page-footer {
	font-size: smaller;
	width: 100%;
	height: var(--footerHeight);
	background-color: var(--bg-secondary);
}
